
.Image {
    background-color : #f2f2f2;
    width:80%;
    align-self:center;
    margin-top :20px;
}

.Heading {
  color: #414992;
}

.CardMinHeight{
    min-height:420px;
}

.Product {
    box-sizing: border-box;
    width: 20%;
    padding-right: 20px;
    float: left;
  }

.ProductBottom{
    padding-bottom: 20px;
}

.UnorderedList {
  margin: 0;
  padding: 0 0 0 30px;
}

.SuccessfulLanding {
  display: flex;
  justify-content: space-between;
}

.FontSize {
    font-size: 14px;
}

@media screen and (max-width:1024px){
    .Product {
        width: 50%;
    }
}

@media screen and (max-width:700px){
    .Product {
        width: 100%;
    }
}
